<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NopCommerce Automation Testing">
    <test name="Run on Firefox Browser">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
<!--            <class name="com.nopcommerce.user.Level_02_BasePage_I_Init"/>-->
            <class name="com.nopcommerce.user.Level_04_Multiple_Browser"/>
        </classes>
    </test> <!-- Test -->
    <test name="Run on Chrome Browser">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <!--            <class name="com.nopcommerce.user.Level_02_BasePage_I_Init"/>-->
            <class name="com.nopcommerce.user.Level_04_Multiple_Browser"/>
        </classes>
    </test> <!-- Test -->
    <test name="Run on Edge Browser">
        <parameter name="browser" value="edge"></parameter>
        <classes>
            <!--            <class name="com.nopcommerce.user.Level_02_BasePage_I_Init"/>-->
            <class name="com.nopcommerce.user.Level_04_Multiple_Browser"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->