<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NopCommerce Automation Testing">
    <parameter name="userUrl" value="http://localhost/"></parameter>
    <parameter name="adminUrl" value="https://admin-demo.nopcommerce.com/admin/"></parameter>
    <test name="Run on Firefox Browser">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
<!--            <class name="com.nopcommerce.user.Level_02_BasePage_I_Init"/>-->
            <class name="com.nopcommerce.user.Level_08_Page_Navigation"/>
        </classes>
    </test> <!-- Test -->
<!--    <test name="Run on Chrome Browser">-->
<!--        <parameter name="browser" value="chrome"></parameter>-->
<!--        <classes>-->
<!--            &lt;!&ndash;            <class name="com.nopcommerce.user.Level_02_BasePage_I_Init"/>&ndash;&gt;-->
<!--            <class name="com.nopcommerce.user.Level_06_Page_Generator_02"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Run on Edge Browser">-->
<!--        <parameter name="browser" value="edge"></parameter>-->
<!--        <classes>-->
<!--            &lt;!&ndash;            <class name="com.nopcommerce.user.Level_02_BasePage_I_Init"/>&ndash;&gt;-->
<!--            <class name="com.nopcommerce.user.Level_06_Page_Generator_02"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
</suite> <!-- Suite -->