<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NopCommerce Automation Testing">
    <test name="Run on Chrome Browser">
        <classes>
<!--            <class name="com.nopcommerce.user.Level_02_BasePage_I_Init"/>-->
            <class name="com.nopcommerce.user.Level_03_Page_Object_Pattern"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->